<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BT1.Properties.Settings.fastfoodConnectionString"
            connectionString="Data Source=DESKTOP-P3RMIME\SQLEXPRESS;Initial Catalog=fastfood;Persist Security Info=True;User ID=sa;Password=hien0409"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>